numpy>=1.25.0
torch>=2.0.1
opencv-python>=4.8.0.74
pydensecrf>=1.0rc3
Pillow>=9.4.0
frozendict>=2.3.0
tqdm>=4.65.0
scipy>=1.10.1
pytest>=7.4.0
matplotlib>=3.7.1
colorama>=0.4.6
torchvision>=0.15.2
lmdb>=1.4.1
seaborn>=0.12.2
imagesize>=1.4.1
addict>=2.4.0
scikit-image>=0.20.0
pandas>=1.5.3
scikit-learn>=1.2.2
PyYAML>=6.0
openpyxl>=3.0.10
loguru>=0.7.2
psutil>=5.9.0
setuptools>=68.0.0
xlwings>=0.30.10
gpustat>=0.6.0
